Package: tmoe-linux-tool
Version: 1.4989.50.4
Section: admin
Priority: optional
Architecture: all
Installed-Size: 18000
Maintainer: 2moe <tmoe@noreply.github.com>
Pre-Depends: aria2 (>= 1.30.0), binutils (>= 2.28-5), coreutils (>= 8.26-3), curl (>= 7.52.1-5), findutils (>= 4.6.0), git (>= 1:2.11.0-3), lsof (>= 4.89), micro (>= 2.0.6-2), nano (>= 2.7.4-1), proot (>= 5.1.0), procps (>= 2:3.3.12), sudo (>= 1.8.19p1-2.1), tar (>= 1.29b-1.1),  util-linux (>= 2.29.2-1), whiptail (>= 0.52.19), xz-utils (>= 5.2.2), zstd (>= 1.1.2),eatmydata,aptitude,catimg,fontconfig,nano,wget
Description: A Simple Linux Tool.
  It can do many things, such as installing desktop software, changing the mirror source, or installing themes to beautify your system, support Debian systems and Debian derivative systems. 
